---
---
<style lang="scss">
    header {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 999;
        
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 16px;
            max-width: 1000px;  
            margin: 0 auto;
            height: 70px;
            
            h1 {
                font-size: 24px;
                font-weight: 900;
                display: flex;
                flex-direction: column;
                color: #ff4697;

                text-shadow:0 0 3px #ffffff,0 0 3px #ffffff,0 0 3px #ffffff,0 0 3px #ffffff,0 0 3px #ffffff,0 0 3px #ffffff,0 0 3px #ffffff,0 0 3px #ffffff,0 0 3px #ffffff,0 0 3px #ffffff,0 0 3px #ffffff,0 0 3px #ffffff,0 0 3px #ffffff,0 0 3px #ffffff,0 0 3px #ffffff,0 0 3px #ffffff;

                span {
                    font-size: 13.6px;
                }
            }
        }
    }
</style>

<header>
    <div class="container">
        <h1>📖 みっちゃんノート<span>矢久保美緒さん非公式ファンサイト</span></h1>
        <div>
            <p>test</p>
        </div>
    </div>
</header>