---
import BaseLayout from '../layouts/BaseLayout.astro';
import MiddleHeader from '../components/MiddleHeader.astro';
let title = 'プライバシーポリシー';
---

<style lang="scss">
</style>

<BaseLayout title={title}>
	<MiddleHeader title="プライバシーポリシー" />

    <h3>アクセス解析ツールについて</h3>
    <p>当ブログでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。このGoogleアナリティクスはトラフィックデータの収集のためにクッキー（Cookie）を使用しております。トラフィックデータは匿名で収集されており、個人を特定するものではありません。</p>

</BaseLayout>