---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProfilePic from '../components/ProfilePic.astro';
import Button from '../components/Button.astro';
let title = 'ホーム';

---

<style lang="scss">
	.profile {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 16px;
		margin-bottom: 84px;

		&__picture {
			width: 25%;
			max-width: 200px;
		}

		&__intro {
			width: 75%;
			padding-left: 24px;

			h2 {
				font-size: 36px;
				letter-spacing: 0.08em;
				margin-bottom: 16px;
				display: inline-block;
				background:linear-gradient(transparent 75%, #FFE11D 0%);

				span {
					font-size: 24px;
					margin-left: 4px;
				}
			}
			
			p {
				margin-bottom: 8px;
			}
		}
	}
</style>

<BaseLayout title={title}>
	<div class="profile">
		<div class="profile__picture">
			<ProfilePic />
		</div>
		<div class="profile__intro">
			<h2><ruby>矢久保<rt>やくぼ</rt><ruby>美緒<rt>みお</rt></ruby> <span>さん</span></h2>
			<p>乃木坂46 4期生。2018年8月19日に坂道合同オーディションに合格、11月29日に乃木坂46へ配属。現在は、アンダーメンバーとして活動する傍ら、FM FUJI「タイムちゃん」のレギュラーパーソナリティなどを務める。</p>
			<Button link="aaaa" text="詳しいプロフィール" />
		</div>
	</div>
</BaseLayout>