---
import BaseLayout from '../layouts/BaseLayout.astro';
import PageHeader from '../components/PageHeader.astro';
import MiddleHeader from '../components/MiddleHeader.astro';
import MvCard from '../components/MvCard.astro';
import mv from '../contents/works/mv.json';

let title = '作品･仕事';

---

<style lang="scss">
	.discography {

	}

	.mv {
		&__container {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;

			&__hiddenBox {
				display: block;
				content: '';
				max-width: 484px;
				width: calc(50% - 8px);
			}
		}
	}

</style>

<BaseLayout title={title}>
	<PageHeader title={title} />

	<div class="mv" style="margin-top:500px;">
		<MiddleHeader title="MV" />
		<div class="mv__container">
			{mv.map((item)=>(<MvCard data={item} />))}
			<div class="mv__container__hiddenBox"></div>
		</div>
	</div>


	

	<!-- Todo: ディスコグラフィ・YouTube-->
	<!-- Todo: ポジション-->
	<!-- Todo: レギュラー番組-->

	<!-- Todo: 出演はスケジュールにまとめる-->
	<!-- Todo: ロケ地欲しいよねー。-->
</BaseLayout>