---
import Button from '../components/Button.astro';
import UnreleasedTip from '../components/UnreleasedTip.astro';
const {data} = Astro.props;
---

<style lang="scss">
    .discCard {
        max-width: 301.33px;
        width: calc(33.33% - 16px);
        margin-bottom: 36px;

        @media screen and (max-width: 768px) {
            margin-bottom: 24px;
            width: 100%;
            max-width: unset;
        }
    
        &__header {
            width: 100%;
            overflow: hidden;
            border-radius: 8px 8px 0 0;
            background-color: #ffffff;
            height: 352px;

            > iframe {
                width: 100%;
                height: 352px;
            }

            &__unreleased {
                height: 100%;
                width: 100%;
                background-color: #e84e91;
                color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                flex-direction: column;

                &__icon::before {
                    font-family: 'Material Icons';
                    content: '\e88e';
                    font-size: 36px;
                }
            }
        }

        &__body {
            background-color: #ffffff;
            padding: 16px;

            h3 {
                font-size: 24px;
                margin-bottom: 8px;
            }

            &__links {
                display: flex;
                flex-wrap: wrap;
                gap: 4px 8px;
            }
        }

        &__footer {
            background-color: #ffffff;
            border-radius: 0 0 8px 8px;
            padding: 0 16px 16px 16px;

            p {
                font-size: 13px;
                color: #757575;

                span {
                    font-weight: bold;
                }
            }
        }
    }
</style>

<article class="discCard">
        <div class="discCard__header">
            {
                data.spotifyId != null ?
                <iframe src={"https://open.spotify.com/embed/track/" + data.spotifyId} frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe> :
                <div class="discCard__header__unreleased"><span class="discCard__header__unreleased__icon"></span>この楽曲は未配信です</div>
            }
        </div>
        <div class="discCard__body">
            <h3>{data.title}</h3>
            <div class="discCard__body__links">
                { data.mvYtId && <Button text="MVを見る" link={"https://youtube.com/watch?v=" + data.mvYtId} openInNewWindow="true" />}
                { data.ean && <Button text="CDを購入する" link={"https://www.amazon.co.jp/s?k=" + data.ean} openInNewWindow="true" />}
                { data.spotifyId && <Button text="Spotifyで聴く" link={"https://open.spotify.com/track/" + data.spotifyId} openInNewWindow="true" />}
            </div>
        </div>
        <div class="discCard__footer">
            <p>作詞: <span>{data.songwriter != null ? data.songwriter : <UnreleasedTip />}</span>／作曲: <span>{data.composer != null ? data.composer : <UnreleasedTip />}</span>／編曲: <span>{data.arranger != null ? data.arranger : <UnreleasedTip />}</span>／シングル: <span>{data.singleTitle != null ? data.singleTitle : <UnreleasedTip />} ({data.singleType != null ? data.singleType : <UnreleasedTip />})</span>／リリース: <span>{data.release != null ? data.release : <UnreleasedTip />}</span>／楽曲種別: <span>{data.type != null ? data.type : <UnreleasedTip />}</span>／ポジション: <span>{data.position != null ? data.position : <UnreleasedTip />}</span></p>
        </div>
</article>