---
const path = Astro.site.pathname;
---
<script>

function menuButton(){
	const menu = document.getElementById("menuContent");

	if (menu.style.display=="flex") {
		menu.style.display ="none";
	} else {
		menu.style.display ="flex";
	}
}
</script>
<style lang="scss">
    .header {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 999;
        
        &__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            max-width: 1000px;  
            padding: 0 16px;
            margin: 0 auto;
            height: 70px;

            a {
                text-decoration: none;

                &:hover {
                    opacity: 0.7;
                    transition: opacity 0.15s;
                }
            }

            &__title {
                h1 {
                    font-size: 24px;
                    font-weight: 900;
                    display: flex;
                    flex-direction: column;
                    color: #ff4697;

                    text-shadow:0 0 3px #ffffff,0 0 3px #ffffff,0 0 3px #ffffff,0 0 3px #ffffff,0 0 3px #ffffff,0 0 3px #ffffff,0 0 3px #ffffff,0 0 3px #ffffff,0 0 3px #ffffff,0 0 3px #ffffff,0 0 3px #ffffff,0 0 3px #ffffff,0 0 3px #ffffff,0 0 3px #ffffff,0 0 3px #ffffff,0 0 3px #ffffff;

                    span {
                        font-size: 13.6px;
                    }
                }
            }

            &__links {
                @media screen and (max-width: 768px) {
                    display: none;
                    position: absolute;
                    background-color: #ffffff;
                    flex-direction: column;
                    top: 76px;
                    left: 16px;
                    width: calc(100% - 32px);
                    padding: 0 16px;
                    border-radius: 8px;
                    box-shadow: 0px 4px 20px rgb(0 0 0 / 20%);
                }

                a {
                    margin: 0 0 0 16px;
                    color: #333333;

                    @media screen and (max-width: 768px) {
                        font-weight: bold;
                        line-height: 2em;
                        padding: 12px 0;
                        margin: 0;
                        font-size: 16px;
                        border-style: solid;
                        border-color: #efefef;
                        border-width: 0 0 1px 0;

                        &:last-child {
                            border-width: 0;
                        }
                    }
                    &.external {
                        &::after {
                            content: "◢";
                            color: #9e3eb2;
                        }
                    }
                }
            }
            &__menuButton {
                display: none;
                padding: 6px 12px;
                background-color: #ffffff;
                border-radius: 8px;
                font-weight: bold;
                border: 2px solid #e84e91;
                color: #e84e91;

                @media screen and (max-width: 768px) {
                    display: block
                }
            }
        }
    }
</style>

<header class="header">
    <div class="header__container">
        <a href="/" class="header__container__title">
            <h1>📖 みっちゃんノート<span>矢久保美緒さん非公式ファンサイト</span></h1>
        </a>
        <div class="header__container__links" id="menuContent">
            <a href="/">ホーム</a>
            <a href="/profile">プロフィール</a>
            <a href="/works">作品</a>
            <a href="https://www.nogizaka46.com/s/n46/media/list?&members=%7B%22member%22:[%2248019%22]%0D%0A%7D" class="external" target="_blank" rel="noopener">
                スケジュール
            </a>
            <a href="https://www.nogizaka46.com/s/n46/diary/MEMBER/list?ima=3519&ct=48019" class="external" target="_blank" rel="noopener">
                ブログ
            </a>
            <a href="/about">このサイトについて</a>
        </div>
        <div class="header__container__menuButton" id="menuButton" onclick="menuButton()">
            メニュー
        </div>
    </div>
</header>
