---
const {title} = Astro.props;
const {marginBottom} = Astro.props;

---

<style lang="scss">
    .pageHeader {
        padding: 8px;
        background-color: #ffffff;
        border-radius: 8px;

        @media screen and (max-width: 768px) {
            margin-bottom: 24px!important;
        }

        &__container {

            padding: 4px 0;
            border-style: solid;
            border-width: 12px 0;
            border-color: #FFE11D;
            background-color: #ffffff;
            text-align: center;

            h1 {
                font-size: 36px;
                font-weight: bold;
                color: #ff4697;
                display: inline-block;
                position: relative;
                margin: 0 auto;

                @media screen and (max-width: 768px) {
                    font-size: 28px;
                }

                &:before,
                &:after {
                    font-family: 'Material Icons';
                    content: '\e87e';
                    position: absolute;
                }

                &:before {
                    left: -45px;
                    top: 8px;

                    @media screen and (max-width: 768px) {
                        left: -36px;
                    }
                }
                &:after {
                    right: -45px;
                    top: 8px;

                    @media screen and (max-width: 768px) {
                        right: -36px;
                    }
                }
            }
        }
    }
</style>

<div class="pageHeader" style={`margin-bottom: ${marginBottom ? marginBottom : 60}px`}>
    <div class="pageHeader__container">
        <h1>{title}</h1>
    </div>
</div>