<style lang="scss">
    .iframe_parent {
        border-radius: 8px;
        width: 200px;
        height: 250px;
        overflow: hidden;
    }
    iframe {
        width: 100%;
        height: 304px;
        overflow: hidden;
        margin-top: -54px;
        border: none;
    }
</style>

<div class="iframe_parent">
    <iframe src="https://www.instagram.com/p/DSSKKIHEpSO/embed/" scrolling="no" border="0"></iframe>
</div>