<style lang="scss">
    img {
        border-radius: 100%;
        width: 100%;
        height: 100%;
    }
</style>

<a href="https://blog.nogizaka46.com/mio.yakubo/smph/2021/05/061400.php" target="_brank" rel="noopener">
    <img src="/profile.jpg" alt="矢久保美緒" />
</a>