---
import { getCollection } from 'astro:content';

const schedules = (await getCollection('schedules'))
  .filter((entry) => {
    const date = new Date(entry.data.schedule).valueOf();
    const daytoday = Date.now();
    return date >= daytoday;
  })
  .sort((a, b) => new Date(a.data.schedule).valueOf() - new Date(b.data.schedule).valueOf());
---

<style lang="scss">
.scheduleList {
	display: block;
	font-size: 16px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
    transition: all 0.15s;
	margin-bottom: 4px;

	&__scheduleDate {
		font-size: 16px;
		font-weight: normal;
	}

	&:hover {
		text-decoration: underline;
		color: #e84e91;
	    transition: all 0.15s;
	}
}
</style>

{schedules.slice(0, 3).map((schedule) => (
	<a href={`schedule/${schedule.slug}`} class="scheduleList">
		<h3 class="scheduleList__title">{schedule.data.title}</h3>
		<span class="scheduleList__scheduleDate">{schedule.data.schedule}</span>
	</a>
))}
