---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const {title} = Astro.props;
---

<style lang="scss" >
body {
    /* padding: 4rem 2rem;
    width: 100%;
    min-height: 100vh;
    display: grid;
    justify-content: center; */
    scroll-behavior: smooth;
    background: #FFE2F0;
    color: #333333;
    background-image: url(/bg.png);
    background-size: 100px;
    background-repeat: repeat;
    padding-top: 76px;
  
    main {
        max-width: 1000px;
        min-height: calc(100vh - 299px);
        margin: 0 auto;
        padding: 0 16px;
    }
}
</style>

<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title} | みっちゃんノート（矢久保美緒さんファンサイト）</title>

    <meta name="description" content="みっちゃんノートは、矢久保美緒さんの非公式ファンサイトです。矢久保さんのプロフィールや活躍についてまとめています。">
    <meta property="og:title" content={title + " | みっちゃんノート（矢久保美緒さんファンサイト）"}>
    <meta property="og:description" content="みっちゃんノートは、矢久保美緒さんの非公式ファンサイトです。矢久保さんのプロフィールや活躍についてまとめています。">
    <meta property="og:url" content="https://micchan-note.vercel.app/">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@micchanfan">
    <meta name="twitter:creator" content="@micchanfan">
    <meta property="og:image" content="https://micchan-note.vercel.app/ogp.png">

    <link rel="icon" type="image/png" href="/icon.png" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <link rel="stylesheet" href="/style/global.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KYH0ZS6WZX"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-KYH0ZS6WZX');
    </script>

</head>
<body>
    <Header />
    <main>
        <slot />
    </main>
    <Footer />
</body>
</html>
